<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">
  <img src="images/Boba-Tea-imperial.jpg" alt="boba" width="100%" />
</div>
</body>
<% include partials/script %>
</html>
